@{
    ViewData["Title"] = "About US";
}

<div class="container">

    <div>
        <h1 class="mbr-text text-center mbr-light pb-3 mbr-fonts-style display-2">@ViewData["Title"]</h1>
        <img class="top-image" src="~/Img/BookReading.png"  alt="Book Reading"/>
        <p class="text-center lead text-info">Get to know our story</p>
        <hr />
        <br />
        <div class="block">
            <br>
            <h3 class="card-title">What is a library?</h3>
            <br />
            <p class="p-4 mb-3 text-white div-back-color block-div" style="border-radius: 30px;">
                A library is a place for book passionist that love to
                expand theyr minds and read meet with new people and share ideas on different topics, librarys have
                many books to which sometimes is hard to keep track and harder for people to find them.<br />
                Which is why we have decidet to create a simple user
                friendly library system where you the user can search and find the information you are looking for
                faster than ever before with a long choises of books at a click of a button find the perfect book
                that you wanna read.
            </p>
            <br />
            <div  class="row justify-content-between">
                <div class="col-md-3 img-book"><img src="~/Img/Tiny Dragon.png" alt="" /></div>
                <div class="col-md-3 img-book"><img src="~/Img/World Of Abstracts Art.png" alt="" /></div>
                <div class="col-md-3 img-book"> <img src="~/Img/Sunset Kiss.png" alt="" /></div>
            </div>
           
            <div class="div-for-space"></div>
            <h3 class="text-center" style="margin-top: 50px;">Contributors</h3>
            <br><br>
            <div class="d-flex justify-content-center">
                <div class="contributors p-3 mb-2  div-space div-edge-smoth b-div all-div ">
                    <img id="Acc" src="~/Img/account.png" alt="Picture" />
                    <h4>Besmir Miftari</h4>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ipsum.</p>
                    <br />
                    <img src="~/Img/Facebook.png" alt="" style="width: 30px;">
                    <img src="~/Img/Instagram.png" alt="" style="width: 30px;">
                    <img src="~/Img/twitter.png" alt="" style="width: 30px;">
                </div>
                <div class="contributors p-3 mb-2  div-space div-edge-smoth j-div all-div ">
                    <img src="~/Img/account.png" alt="Picture" />
                    <h4>Jon Morina</h4>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ipsum.</p>
                    <br />
                    <img src="~/Img/Facebook.png" alt="" style="width: 30px;">
                    <img src="~/Img/Instagram.png" alt="" style="width: 30px;">
                    <img src="~/Img/twitter.png" alt="" style="width: 30px;">
                </div>
                <div class="contributors p-3 mb-2  div-space div-edge-smoth m-div all-div ">
                    <img src="~/Img/account.png" alt="Picture" />

                    <h4>Marigona Kadriu</h4>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ipsum.</p>
                    <br />
                    <img src="~/Img/Facebook.png" alt="" style="width: 30px;">
                    <img src="~/Img/Instagram.png" alt="" style="width: 30px;">
                    <img src="~/Img/twitter.png" alt="" style="width: 30px;">
                </div>
            </div>
            <br>
        </div>
    </div> 

</div>
