@using Microsoft.AspNetCore.Identity;
@using Library_Managment.Models;
@inject SignInManager<UserNewData> SignInManager
@inject UserManager<UserNewData> UserManager

@{
    Layout = "_Layout";
}

<h1>Welcome to home page</h1>