@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_NewLayout";
}


<div style="height:1000px;">
    <div class="container-fluid load">
        <br />
        <h2 class=" text-center mbr-light pb-3 display-1">@ViewData["Title"]</h2>
        <div class="row">
            <div class="col-md text-black article">
                <p style="max-width: 600px" class="par">
                    "Bad libraries build collections,<br>  good libraries build services, great libraries build communities." <br /> - R. David Lankes
                </p>
            </div>
            <br />
            <div class="col-md">
                <form class="forms-load" id="account" method="post">
                    <h4 class="text-white">Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input style="max-width: 600px" asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input style="max-width: 600px" asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group  box-input">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <br />
                    <div class="form-group">
                        <p>
                            <a class="btn btn-info" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            <a class="btn btn-info" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
