@{
    ViewData["Title"] = "Admin Panel";
}

<div class="row adminArea text-center  text-dark p-5">
    <h1 style="font-family: 'Arvo', serif;" class="col-12 pb-2">@ViewData["Title"]</h1>
    <br />
    <div class="row admin-loader justify-content-around p-3">
        <div class="col-md-4 mb-3 p-3">
            <img src="~/Img/ic_border_color_24px.png" alt="admin panel image" />
        </div>
        <div class="col-md-4 mb-3 p-3">
            <h3 class="text-center pb-3">Welcome to Admin Panel</h3>
            <br />
            <blockquote class="pb-5 text-left">
                This Area will give you controll on how to handle the Lms page.
                Here in Admin Panel you will be able to manage User, Books and Contacts of the web page.
                You will be able to create, update and delete Users, contacts And Books.
            </blockquote>
            <h6 class="pt-2">- LMS Creators</h6>
        </div>

    </div>
</div>
